.footer {
    background-color: #f8f9fa;
    padding: 15px 0;
    text-align: center;
}

.footer a {
    display: inline-block;
    color: #002366;
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #002366;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.footer a:hover {
    background-color: #002366;
    color: #ffffff;
    text-decoration: none;
}
